* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-image: linear-gradient(0deg, #fff 50%, #2196f3);
	font-family: 'Poppins', sans-serif;
}
.container {
	max-width: 1000px;
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	transition: .5s;
}
.card {
	position: relative;
	width: 250px;
	height: 300px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .5s;
}
.container:hover .card {
	filter: blur(5px);
	transform: scale(.7);
}
.container .card:hover {
	filter: blur(0);
	transform: scale(1);
}
.card:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 1;
	transition: .5s;
}
.card:hover:before {
	background-color: #000;
	transform: scaleY(1.15);
	box-shadow: 0 5px 15px rgba(0, 0, 0, .2);

}
.content {
	text-align: center;
	z-index: 2;
	padding-left: 20px;
	padding-right: 20px;
	transition: .5s;
}
.card:hover .content {
	color: #fff;
}
.content h2 {
	font-size: 3em;
}
.content h2 {
	font-size: .9em;
}
.content a {
	display: inline-block;
	margin-top: 15px;
	padding: 5px 10px;
	background-color: #262626;
	color: #fff;
	text-decoration: none;
}
.card:hover .content a {
	background-color: #2196f3;
}